@model E_Commerce_Web_Application.Models.ViewModelCustomerAddressTable
<div>
   
        <div style="border:solid 1px;padding:10px;border-color:gray">
            <div>
                @Ajax.ActionLink("+ Add A New Address", "AddAddressInTable", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "divAddAddress", InsertionMode = InsertionMode.Replace })
            </div>
        </div>

        <br />
        @if (Model.CustomerAddresses != null)
        {
            foreach (var n in Model.CustomerAddresses)
            {
                string div = "divEditAddressAndRemove" + n.id;
                <div id="@div">
                    <div style="border:solid 1px;padding:10px;border-color:gray">
                        <div>
                            <div>
                                <div class="col-sm-10">
                                    <label class="label-default ">@n.AddressType</label>
                                </div>
                                <div class="btn btn-group">
                                    @Ajax.ActionLink("Edit", "EditAddress", new { Id = n.id }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = div, InsertionMode = InsertionMode.Replace })
                                    @Ajax.ActionLink("Remove", "RemoveAddress", new { Id = n.id }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divAddAddress", InsertionMode = InsertionMode.Replace })
                                </div>
                            </div>
                            <h3>@n.Name @n.ModileNumber</h3>
                            <h4>@n.Address</h4>
                            <h4>@n.City</h4>
                            <h4>@n.State</h4>
                            <h4>@n.PinCode</h4>
                        </div>
                    </div>
                </div>
                <br />
            }
        }
    
</div>
